body  {
    display: flex;
    background-image:url(../image/fondo1.jpg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.container-instruction {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
p{
    padding: 15px;
    line-height: 50px;
    font-size: 35px;
    color: #ffffff;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}