.title  {
    font-size: 20px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
#board { 
    border-radius: 5px;
    margin-top: 2px;
}
#board button {
    width: 3vw;
    height: 3vw;
    margin: 1vw;
    border: 1px solid #999;
    border-radius: 50px;
}   
#board button.hidden {
    visibility: hidden;
}
#board button.ball {
    background-color: #fabdfc;
    border: 2px solid #000408;
    border-radius: 50px;
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65) 
}
#board button.ball:hover {
    background-color: #bf6ae6;
}
#board button.ball:active {
    background-color: #bf6ae6;    
}
#board button.empty{
    background-color: #333333;
}
#board button.empty:hover{
    cursor: default;
}
#board button.ballSelected{
    background-color: #bf6ae6;
    border: 2px solid #000000;
    border-radius: 50px;
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65) 
}
#board button.ballSelected:active{
    background-color: #500070;
}   
#board button.suggestions{
    background-color:  #7907a7;
    border: 2px solid #000000;
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65) 
}
p   {
    font-size: 35px;
    color: #fff;
    line-height: 50px;
    position: relative;
    width: 650px;
    margin: auto;
    margin-top:30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
}
p#Pegs  {
    justify-content: center;
    padding: 0px;
    margin: auto;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    width: 228px;
    border: 2px solid #030107;
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65);
} 
  
