body{
  display: flex;
  background-image:url(./image/fondo1.jpg);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
header{
  width: 100%;
}
#menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #197c83;
}
#menu button {
  color: #111111;
  padding: 10px;
  background-color: #ffffff;
}




html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
